In [1]:
import os
import pandas as pd
import glob

In [7]:
DIALOGS_DATA_PATH = "../data/dialogs"
DIALOGS_META_DATA_PATH = "../data/dialogs_meta"

MERGED_DATA_PATH = "../data/merged_data"

In [10]:
!dir "..\data"

 Volume in drive C is OS
 Volume Serial Number is 0408-B554

 Directory of C:\Users\Vale\data

25.10.2024  19:31    <DIR>          .
26.10.2024  10:52    <DIR>          ..
25.10.2024  21:11    <DIR>          dialogs
25.10.2024  19:53    <DIR>          dialogs_meta
               0 File(s)              0 bytes
               4 Dir(s)  65—è800—è040—è448 bytes free

In [16]:
dialogs_data_files = glob.glob(f"{DIALOGS_DATA_PATH}/*.csv")
dialogs_meta_data_files = glob.glob(f"{DIALOGS_META_DATA_PATH}/*.json")

## merging all dialogs_data (csv files) into one

In [17]:
df_array = []

for d in dialogs_data_files:
    local_df = pd.read_csv(d)
    local_df["dialog_id"] = os.path.basename(d).split(".")[0]
    
    df_array.append(local_df)
    
df = pd.concat(df_array, ignore_index=True)

In [13]:
df.shape

(1694041, 10)

In [18]:
if not os.path.isdir(MERGED_DATA_PATH):
    os.mkdir(MERGED_DATA_PATH)

if "Unnamed: 0" in df:
    df = df.drop(["Unnamed: 0"], axis=True)
    
df.to_csv(f"{MERGED_DATA_PATH}/dialogs_data_all.csv", index=False)

In [19]:
df.shape

(1694041, 9)

In [20]:
df.head(10)

,id,date,from_id,to_id,fwd_from,message,type,duration,dialog_id
0,382863,2024-10-25 17:01:53+00:00,PeerUser(user_id=599821131),PeerChannel(channel_id=1142723513),NaN,üêµ,sticker,NaN,-1001142723513
1,382862,2024-10-25 17:01:23+00:00,PeerUser(user_id=256994245),PeerChannel(channel_id=1142723513),NaN,ü§∫,sticker,NaN,-1001142723513
2,382860,2024-10-25 17:01:11+00:00,PeerUser(user_id=599821131),PeerChannel(channel_id=1142723513),NaN,–Ω–µ–±–æ –≤—Å–µ —Ç–æ–±—ñ –¥–∞—Å—Ç—å,text,NaN,-1001142723513
3,382859,2024-10-25 17:01:03+00:00,PeerUser(user_id=599821131),PeerChannel(channel_id=1142723513),NaN,üôè,sticker,NaN,-1001142723513
4,382858,2024-10-25 17:00:55+00:00,PeerUser(user_id=599821131),PeerChannel(channel_id=1142723513),NaN,–≤ —Å–µ–Ω—Å—ñ –º–æ–ª–∏—Å—è,text,NaN,-1001142723513
5,382857,2024-10-25 17:00:43+00:00,PeerUser(user_id=509580698),PeerChannel(channel_id=1142723513),NaN,–≤ —Å–µ–Ω—Å—ñ —Å—É—ó—Ü–∏–¥—É —á–∏..??,text,NaN,-1001142723513
6,382856,2024-10-25 17:00:09+00:00,PeerUser(user_id=599821131),PeerChannel(channel_id=1142723513),NaN,–±–æ–≥,text,NaN,-1001142723513
7,382855,2024-10-25 16:59:04+00:00,PeerUser(user_id=509580698),PeerChannel(channel_id=1142723513),NaN,–∞ –º–µ–Ω–µ —Ö—Ç–æ –∑–∞–∞–¥–æ–ø—Ç–∏—Ç—å..,text,NaN,-1001142723513
8,382854,2024-10-25 16:58:22+00:00,PeerUser(user_id=347398049),PeerChannel(channel_id=1142723513),NaN,NaN,photo,NaN,-1001142723513
9,382853,2024-10-25 16:58:15+00:00,PeerUser(user_id=599821131),PeerChannel(channel_id=1142723513),NaN,–∞–¥–æ–ø—Ç –º—ñ,text,NaN,-1001142723513

In [21]:
min(df["date"]),max(df["date"])

('2017-10-02 20:51:45+00:00', '2024-10-25 17:01:53+00:00')

In [22]:
df.groupby(["type"])["type"].count()

type
photo       281849
sticker      26690
text       1306404
video        45210
voice        33888
Name: type, dtype: int64

In [23]:
df.groupby(["type"])["duration"].sum()

type
photo      0.000000e+00
sticker    0.000000e+00
text       0.000000e+00
video      1.287400e+06
voice      1.149871e+06
Name: duration, dtype: float64

## merging all dialogs_meta_data (json files) into one

In [24]:
df_array = []

for d in dialogs_meta_data_files:
    local_df = pd.read_json(d)
    local_df = local_df.rename({'id': 'dialog_id'}, axis=1)
    df_array.append(local_df)
    
df_meta = pd.concat(df_array, ignore_index=True)

In [25]:
df_meta.to_csv(f"{MERGED_DATA_PATH}/dialogs_users_all.csv", index=False)

In [26]:
df_meta.shape

(10356, 4)

In [27]:
df_meta.head(10)

,dialog_id,name,type,users
0,-1001142723513,–§–Ü,Group,"{'user_id': 679210513, 'first_name': '–ê–Ω—Ç–æ–Ω', ..."
1,-1001142723513,–§–Ü,Group,"{'user_id': 347624504, 'first_name': '–ù–∞—Å—Ç—è –ß–∏..."
2,-1001142723513,–§–Ü,Group,"{'user_id': 442570824, 'first_name': '–≤–µ—Ä–æ–Ω—ñ—á–∫..."
3,-1001142723513,–§–Ü,Group,"{'user_id': 321298689, 'first_name': '–î–µ–Ω–∏—Å –î—Ä..."
4,-1001142723513,–§–Ü,Group,"{'user_id': 1898640446, 'first_name': '–ê—Ä—Ç—É—Ä',..."
5,-1001142723513,–§–Ü,Group,"{'user_id': 959076053, 'first_name': '–ù–∞—Å—Ç—è', ..."
6,-1001142723513,–§–Ü,Group,"{'user_id': 1272391741, 'first_name': '–í–∞–Ω—è', ..."
7,-1001142723513,–§–Ü,Group,"{'user_id': 797970730, 'first_name': 'Valentin..."
8,-1001142723513,–§–Ü,Group,"{'user_id': 857650813, 'first_name': '–ù–∏–∫–∏—Ç–∞üíó'..."
9,-1001142723513,–§–Ü,Group,"{'user_id': 1021793326, 'first_name': '–Ω–∞—Å—Ç—é—à–∞..."

In [28]:
df_meta.groupby(["type"])["type"].count()

type
Group             10132
Private dialog      224
Name: type, dtype: int64